<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templating</title>
</head>
<body style="text-align: center;">
    <h1 style="color: red;">Page not found</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga amet qui fugit provident consectetur! Harum quam laboriosam aliquid sit doloremque ratione fugit earum eius distinctio, nemo qui eaque impedit consequuntur.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga amet qui fugit provident consectetur! Harum quam laboriosam aliquid sit doloremque ratione fugit earum eius distinctio, nemo qui eaque impedit consequuntur.</p>

    <h2>Try to stay on the path, buddy!</h2>
</body>
</html>