<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME - RESTFUL</title>
</head>
<body style="text-align: center;">
    <h1>RESTFUL - <span style="color: blue;">Home</span> Path</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugiat cumque possimus iure provident laudantium laborum, repellendus aspernatur dignissimos adipisci, eum veritatis, consequatur eaque? Molestias sunt blanditiis incidunt deleniti aut.</p>
</body>
</html>